.header {
    margin-left:10px;
    margin-right:10px;
}

.btn-primary {
    background-color: #33f014 !important;
    border-color: #33f014 !important;
    color: #631463;
}

.btn-link {
   color: #2675AF; 
}

.img-brand {
    max-width: 175px;
    max-height: 60px;
}

.navbar-fixed-top {
    position: relative;
}

.navbar-fixed-top {
    border-bottom-color: #33f014;
    border-width: 3px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #631463;
    font-weight: bold;
    background-color: #f8f8f8;
}

.text-container {
    background-color: white;
    padding:5px;
}

.btn-negative {
    background-color: #A0252C;
    color:white;
    font-size: large;
}

.btn-negative:hover, .btn-negative:focus {
    background-color: #BE3632;
    color:white;
}

.text-center {
  text-align: center;
}

.carousel-control.right {
    background-image: none !important;
}

.carousel-control.left {
    background-image: none !important;
}

.carousel-indicators li {
    border: 1px solid #1c4489;   
}

.carousel-indicators .active {
    background-color: #1c4489;
}

.carousel-control .icon-prev, .carousel-control .icon-next {
    color: #1C4489;
}

#Container_Carousel{ 
    margin:0;
    padding:0;
    width:100%;  
}
.item img{
     width:100%;   
}

.carousel .item img {
  max-height: 400px;
  min-width: auto;
}

h1 {
    color: #631463;
}

.fa-circle-purple:before
{   
    content:"\f111";
    background: #FFFFFF;
    color: #631463;
    padding: 0.05em 0.07em;
}

.text-center a {
    color: #33f014;
}

.text-center a:hover {
    color: #631463;
}
.text-center a:focus {
    color: #631463;
}

body {
    .entry:not(:first-of-type) {
        margin-top: 10px;
    }
    .glyphicon {
        font-size: 12px;
    }
}

.footer {
    border-top: 3px solid #33f014;
    padding-left: 10px;
    padding-top: 10px;    
}
